.scrolling-text{overflow:hidden;
                white-space: nowrap;
               width:100%;
               position: relative;}

.scrolling-text p {
  display: inline-block;
  font-size: 120px;
  letter-spacing: 5px;
  font-weight: 600;
  color: transparent ;
  -webkit-text-stroke: 1px #ccc;
  animation: scrolltext 20s Linear infinite;

    background-color: #A2A84C;
  overflow: hidden;
  ul{
    list-style: none;
    padding-left: 0;
    -webkit-text-stroke: 1px #FFFFFF;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    margin: 0 40px;
    padding: 3px 0;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: marqueeanimate 50s linear infinite;
    width: 200%;
    li:hover{
      -webkit-text-stroke-color: #FFDA00;
      -webkit-text-fill-color: #FFDA00;
}

@keyframe scrollText {
  from{transform: translateX(100%);}
  to {transform: translateX(-100%);}
}
